
body {
  background-color: #e1ddd9;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  color:#564b47;  
  padding:0px;
  margin:0px;
}

#content {
  width: 90%;
  margin: 5px auto;
  padding: 5px 0px 5px 0px;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

#top{
  margin: 20px;
}

#top-title{
  color: #0a5860;
  font-size: 45px;
  font-weight: bold;
}

img{
  vertical-align: middle;
}

h1 {
  background-color: #0a5860;
  color: #fff;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

h3 {
  margin: 15px;
}

.user{
  margin: 15px;
}

p {
  margin: 15px;
}
#user1{
  margin-right: 10px;
}

#footer{
  margin: 5px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

label{
  margin: 5px;
}

button.large {
  font-size: 16px;
  margin-top: 25px;
  height: 26px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 15px;
}

#results {
  text-align: left;
  margin: 50px;
}

li{
  list-style-type:none; 
}
