
body {
  background-color: #e1ddd9;
  font-size: 14px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding:0px;
  margin:0px;
}

#content {
   width: 90%;
   margin: 5px auto;
   padding: 5px 0px 5px 0px;
   text-align: left;
   background-color: #fff;
   overflow: auto;
   -moz-border-radius: 15px;
   border-radius: 15px;
   position: relative;
}

h1 {
  background-color: #0a5860;
  color: #fff;
  text-align: center;
}

h3 {
  margin-left: 5px;
  margin-bottom: 15px;
}

.user{
  margin: 0px;
}

#user1{
  margin-right: 10px;
}

#footer{
  margin: 5px;
  font-size: 12px;
  font-style: italic;
}

label{
  margin: 5px;
}

button.large {
   font-size: 16px;
   margin-top: 25px;
   height: 26px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
